#allFriends {
    header {
        h1 {
            font-family: 'Aladin', cursive;
            font-size: 80px;
            text-align: center;
            margin-top: 80px;
        }
    }

    main {
        #userFriends {
            max-width: 620px;
            margin: 0 auto;

            .friend {
                display: inline-block;
                background-color: #FFF;
                width: 300px;
                margin: 5px;
                border: 2px solid #000;

                a {
                    text-decoration: none;
                }

                img {
                    width: 80px;
                    border-right: 2px solid #000;
                }

                span {
                    color: #0000cc;
                    font-size: 1.25em;
                    
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}