#changePassword {
     h1 {
        text-align: center;
        font-family: 'Aladin', cursive;
        font-size: 80px;
    }

    main {
        p {
            margin: 0 auto;
            display: inline-block;
            margin-bottom: 20px;
            width: 180px;
            text-align: left;
            font-size: 1.2em;
            font-weight: bold;
            padding-right: 20px;
        }

        button {
            width: 200px;
            font-size: 2em;
            color: #FFF;
            background-color: #234465;

            &:disabled {
                background-color: gray;
            }
        }

        input {
            color: #000;
        }
    }  
}