#homePage {
    h1 {
        font-family: 'Aladin', cursive;
        font-size: 80px;
    }

    form {
        border: 2px solid #FFA000;
        padding: 20px;
       

        input {
            color: #000;
        }

        button {
            width: 160px;
            font-size: 1.5em;
            font-weight: bold;
        }

        .gender-text {
            font-weight: 600; 
        }

        .gender-margin {
            margin-right: 10px;
        }
    }

    #loginForm {
        margin-bottom: 25px;
    }
}