#newsFeed header h1 {
  font-family: 'Aladin', cursive;
  font-size: 80px;
  text-align: center;
  margin-top: 80px; }

#newsFeed main .wall-cover {
  margin-bottom: 20px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 100% 100%; }
  #newsFeed main .wall-cover .wall-cover-img {
    position: absolute;
    z-index: -1;
    height: 200px;
    width: 90%;
    left: 20px; }
  #newsFeed main .wall-cover .wall-user-img {
    float: left;
    clear: left;
    width: 100px;
    margin: 10px 20px 10px 20px;
    border: 2px inset #000; }
  #newsFeed main .wall-cover div {
    display: inline-block; }
    #newsFeed main .wall-cover div h3 {
      background-color: rgba(100, 100, 100, 0.7);
      padding: 5px;
      font-size: 28px; }
    #newsFeed main .wall-cover div button {
      color: #000;
      font-size: 1.5em;
      text-transform: capitalize;
      width: 120px;
      text-align: center; }

#newsFeed main .add-post {
  width: 500px;
  padding: 10px;
  margin: 0 auto;
  color: #000;
  height: 120px;
  border: 2px solid #90F;
  background-color: #CCC;
  margin-bottom: 20px; }
  #newsFeed main .add-post button {
    background-color: #09F;
    float: right;
    clear: both;
    margin-top: 5px;
    font-size: 1.25em;
    font-weight: bold; }

#newsFeed main .feed-items {
  width: 500px;
  margin: 0 auto; }
  #newsFeed main .feed-items .post {
    height: 120px;
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid #000;
    border-radius: 20px;
    background-color: #FFF;
    color: #000; }
    #newsFeed main .feed-items .post .author-data img {
      width: 50px; }
    #newsFeed main .feed-items .post .author-data a {
      font-size: 1.1em;
      font-weight: bold; }
      #newsFeed main .feed-items .post .author-data a:hover {
        cursor: pointer; }
    #newsFeed main .feed-items .post .author-data span {
      float: right;
      clear: both; }
    #newsFeed main .feed-items .post p {
      margin-top: 10px;
      margin-left: 10px;
      margin-bottom: 0; }
    #newsFeed main .feed-items .post .likes-and-comments {
      float: right;
      clear: both;
      margin-right: 10px; }
      #newsFeed main .feed-items .post .likes-and-comments img {
        width: 20px;
        padding-bottom: 5px; }
      #newsFeed main .feed-items .post .likes-and-comments a {
        text-decoration: none; }
        #newsFeed main .feed-items .post .likes-and-comments a:hover {
          cursor: pointer; }
          #newsFeed main .feed-items .post .likes-and-comments a:hover span {
            text-decoration: underline; }
  #newsFeed main .feed-items .post-comment {
    width: 450px;
    height: 100px;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 50px;
    border: 2px solid #000;
    border-radius: 20px;
    background-color: #FFF;
    color: #000; }
    #newsFeed main .feed-items .post-comment img {
      width: 45px; }
    #newsFeed main .feed-items .post-comment p {
      margin-bottom: 5px; }
    #newsFeed main .feed-items .post-comment span {
      float: right;
      padding-left: 5px; }
    #newsFeed main .feed-items .post-comment .likes-and-comments {
      float: right;
      clear: both;
      margin-right: 10px; }
      #newsFeed main .feed-items .post-comment .likes-and-comments img {
        width: 20px;
        padding-bottom: 5px; }
      #newsFeed main .feed-items .post-comment .likes-and-comments a {
        text-decoration: none; }
        #newsFeed main .feed-items .post-comment .likes-and-comments a:hover {
          cursor: pointer; }
          #newsFeed main .feed-items .post-comment .likes-and-comments a:hover span {
            text-decoration: underline; }

#newsFeed main .friends-table {
  float: right;
  clear: both; }
  #newsFeed main .friends-table h2 {
    text-align: center;
    color: #FFF;
    background-color: #000;
    margin-bottom: 0;
    padding-bottom: 10px;
    border: 3px outset #FFF; }
  #newsFeed main .friends-table .friend-row {
    background-color: #FFF;
    width: 300px;
    height: 57px;
    color: #000;
    font-size: 1.2em;
    border: 3px outset #000; }
    #newsFeed main .friends-table .friend-row img {
      width: 50px; }
  #newsFeed main .friends-table a:hover {
    cursor: pointer; }

/*** USER PREVIEW Styles ***/
.user-preview {
  padding: 10px;
  border: 2px solid #000;
  border-radius: 10px; }
  .user-preview a {
    color: #000;
    font-size: 1.2em;
    font-weight: bold; }
  .user-preview img {
    float: left;
    clear: left;
    width: 75px;
    margin-top: 5px; }
  .user-preview div {
    display: inline-block;
    margin-left: 20px; }
    .user-preview div img {
      float: right;
      clear: right; }
    .user-preview div .gender-img {
      width: 15px;
      margin-left: 10px; }
    .user-preview div .close-btn {
      display: inline-block;
      float: right;
      clear: both;
      color: #000;
      font-size: 0.75em;
      margin-top: 40px; }
      .user-preview div .close-btn:hover {
        cursor: pointer; }
    .user-preview div button {
      display: block;
      margin-top: 15px;
      font-size: 1.25em;
      width: 95px;
      border-radius: 5px;
      text-transform: capitalize; }

/*** ADD COMMENT Styles ***/
.popover .add-comment {
  color: #000;
  border-radius: 10px; }
  .popover .add-comment input {
    display: block;
    width: 260px;
    height: 30px; }
  .popover .add-comment button {
    background-color: #09F;
    font-weight: bold;
    float: right;
    clear: right; }

/*** Friend, Pending and Invite Buttons - Styles ***/
.friend-btn {
  background-color: rgba(0, 255, 0, 0.45); }

.pending-btn {
  background-color: rgba(255, 255, 0, 0.45); }

.invite-btn {
  background-color: #3264ff;
  border: 2px outset #FFF;
  box-shadow: #000 0 0 1px 1px; }

