<div id="changePassword">
    <div header-menu-directive></div>

    <header>
        <h1>Change Password</h1>
    </header>

    <main>
        <div class="row">
            <div class="col-xs-12 text-center">
                <form name="changePasswordForm">
                    <p>Old Password:</p>
                    <input type="password" ng-model="passData.oldPassword" ng-minlength="4" ng-maxlength="100" required="required" placeholder="Current Password" />
                    <br />

                    <p>New Password:</p>
                    <input type="password" ng-model="passData.newPassword" ng-minlength="6" ng-maxlength="100" required="required" placeholder="New Password" />
                    <br />

                    <p>Confirm Password:</p>
                    <input type="password" ng-model="passData.confirmPassword" ng-minlength="6" ng-maxlength="100" required="required" placeholder="Confirm Password" />
                    <br />

                    <button ng-click="changePassword(passData)" ng-disabled="changePasswordForm.$invalid || passData.newPassword !== passData.confirmPassword">Save Changes</button>
                </form>
            </div>
        </div>
    </main>
</div>